header{
    
    background-color: #252D37 ;
    color: white;
}

.container-header{
    border: 1px solid magenta;
    padding: 2rem 0;
}

.container-top-section{
    border:1px solid magenta;
}

#main-first-section{
    background-color: #1ABC9C;
}

#section-cards{
}

*.row{
    border: 1px solid blue;
}

[class^=col- ]{
    border: 1px solid black;
}

.my-width-img{
    width: 15rem;
}

