header{
    background-color: #252D37 ;
    color: white;
}

.container{
    border: 1px solid magenta;
}

#main-first-section{
    background-color: #1ABC9C;
}

#abouts{
    background-color: #1ABC9C;
}

#contact-me{
    height: 30rem;
}

.container-cme{
    height: 30rem;
}

*.row{
    border: 1px solid blue;
}

[class^=col- ]{
    border: 1px solid black;
}

.my-width-img{
    width: 50%;
}

