header{
    background-color: #252D37 ;
    color: white;
}

#main-first-section{
    background-color: #1ABC9C;
}

#abouts{
    background-color: #1ABC9C;
}

#contact-me{
    height: 30rem;
}

#top-footer{
    background-color: #3A546D;
}

#bottom-footer{
    background-color: #2C3E50;
}

.container-cme{
    height: 30rem;
}

.my-width-img{
    width: 50%;
}

